<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <ul>
      <li>
             <a th:href="@{/variables/string/}+'no'">no</a> 
        </li>
        <li>
             <a th:href="@{/variables/string/}+'hola don jose'">hola don jose</a> 
        </li>
        <li>
             <a th:href="@{/variables/string/}+'uwu'+'/'+3">goku?</a> 
        </li>
    </ul>
</body>
</html>