<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Seleccionar Cliente</title>
</head>
<body>
 <form th:action="@{/ventas/factura}" method="get">
  <div class="mb-3">
    <label class="form-label">Id del cliente:</label>
    <input type="number" id="clienteId" name="clienteId" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary">Ir a factura</button>
  <a th:href="@{/}" class="btn btn-secondary">Cancelar</a>
</form>
</body>
</html>
